@import url("https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}
*::selection {
  color: red;
  background: #fcf802;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  border: none;
  height: 2px;
  background-color: #a9a9a9;
}
/* .app {
  width: 80%;
  margin: auto;
} */
.app-content {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cursor {
  cursor: pointer;
}
.mt {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
